header(class="header")
      div(class="container-fluid bg-secondary")
        div(class="row")
          div(class="img-logo col-4")
            a(href="/")
              img(src="https://th.bing.com/th/id/R.528dc63c325e3186e8baf7fdbb6cc10b?rik=Y97WPae1O%2bHmkQ&pid=ImgRaw&r=0"
              alt="Logo")
          div(class="d-flex align-items-center col-8 justify-content-center menu")
            a(href="/") Trang chủ
            a(href="/products") Phim