header(class="header")
  nav(class="navbar navbar-expand bg-light navbar-light")
    a(href=`${PATH_ADMIN}/` class="nav-brand") 
      img(src="https://th.bing.com/th/id/R.528dc63c325e3186e8baf7fdbb6cc10b?rik=Y97WPae1O%2bHmkQ&pid=ImgRaw&r=0", alt="Logo")
    ul(class="navbar-nav align-items-center")
      li(class="nav-item")
        a(href=`${PATH_ADMIN}/` class="nav-link") Trang quản trị
      li(class="nav-item")
        a(href=`${PATH_ADMIN}/movies` class="nav-link") Trang phim